<section class="flex flex-col md:flex-row justify-between gap-15 w-full">
    <div class="flex flex-col items-start justify-center text-left md:w-3/5">
        <ng-icon
            class="text-3xl !text-secondary"
            name="heroTrophySolid"
        />

        <h2 class="my-8 text-2xl font-bold md:text-4xl">Achievements</h2>

        <p class="text-base-content/70">The creation of an intelligent level crossing was driven by the recognition of a gap in automation processes for railway barriers, where the human factor was a contributing element. The implementation of artificial intelligence was instrumental in enhancing safety by enabling the detection of vehicles in the event of an accident and subsequently notifying the driver. This initiative, named <strong>SIGNALWAY</strong>, showcased the integration of advanced technology with operational safety</p>
    </div>

    <div class="gap-15 flex flex-col justify-center items-center pr-6 w-full">
        @for (achievement of achievements; track $index) {
            <div class="indicator aspect-auto w-auto">
                <div class="indicator-item indicator-bottom">
                    <p class="btn btn-accent rimary rounded-2xl pointer-events-none">{{ achievement.year }}</p>
                </div>

                <div class="p-8 border border-base-300 rounded-3xl shadow-2xl text-left">
                    <h6 class="text-lg font-bold text-accent">{{ achievement.header }}</h6>

                    <p class="mt-8 text-base-content/70">{{ achievement.description }}</p>
                </div>
            </div>
        }
    </div>
</section>
