@import "../styles/colors.scss";

.main-container {
    display: flex;
    z-index: 0;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    min-height: 100vh;
    background-color: $bg-3;

    .side-bar-container {
        display: flex;
        z-index: 2;
        justify-content: center;
        align-items: center;
        width: 80px;
        min-height: 100vh;
        background: transparent;
    }

    .content-container {
        display: flex;
        z-index: 2;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        width: calc(100vw - 80px);
        background: transparent;

    }
}