@import '../styles/colors.scss';

:host {
    width: 100%;
}
.home-container {
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: url(../../assets/images/bg3.png);
    align-items: center;
    min-height: 100vh;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    .content {
        align-self: baseline;
        margin-left: 10%;
        align-items: baseline;
        justify-content: center;
        flex-direction: column;
        align-content: revert;
        &__h2 {
            font-size: 50px;
            margin: 0;
            color: $text-2;
        }
    
        &__h3 {
            font-size: large;
            color: white;
        }
    }
  


}

.email-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 60px;
    line-height: 50px;
    font-size: 20px;
    font-family: sans-serif;
    text-decoration: none;
    color: white;
    border: 2px solid white;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;

    &__content {
        position: relative;
        z-index: 2;
    }
  }
  
  .email-container:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: $text-1;
    transition: all .35s;
  }
  
  .email-container:hover{
    color: $text-2;
  }
  
  .email-container:hover:after{
    width: 100%;
  }
    