@import '../styles/colors.scss';

:host {
    width: 100%;
}
.home-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 10%;
    flex-direction: column;
    align-content: center;
  

    &__h2 {
        font-size: 50px;
        margin: 0;
        color: $text-2;
    }

    &__h3 {
        font-size: large;
        color: white;
    }
}

.email-container {
    appearance:none;
    padding:10px;
    pointer-events: all;
    border:none;
    background-color: $text-1;
    color:#fff;
    font-weight:600;
    border-radius:5px;
    &__a {
        pointer-events: all;
        text-decoration: none;
        transition: .5s cubic-bezier(0.79, 0.16, 0.4, 1.17);
        color: white;
    }
    
}

.email-container {
    &__a:hover {
        color: black;
    }
}
    